.subscribe {
    background-color: rgb(204, 0, 0);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    transition: opacity 0.15s;
}

.subscribe:hover {  
  opacity: 0.8;
}

.subscribe:active {
  background-color: lightcoral;  
}

.join:hover {
  color: white;
  background-color: rgb(6, 95, 212);  
}

.join:active {
  opacity: 0.8;  
}

.tweet:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .15);  
}

.tweet:active {
  opacity: 0.8;  
}

.join {
    background-color: white;
    color: rgb(6, 95, 212);
    border-color: rgb(6, 95, 212);
    padding-top: 9px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 9px;
    border-radius: 2px;
    border-width: 1px;
    cursor: pointer;
    border-style: solid;
    margin-right: 8px;
    transition: background-color 0.15s,color 0.15s;
}
.tweet {
    background-color: rgb(29, 155, 240);
    color: white;
    border: none;
    padding-top: 7px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 7px;
    border-radius: 18px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: box-shadow 0.15s;
}